@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");
.main-container .tasksCreator-container .tasksCreator-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main-container {
  min-height: 100vh;
}

.main-container .tasksCreator-container {
  /*esta caja es para alinear*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .tasksCreator-container .tasksCreator-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 40vh;
  width: 100%;
  background: linear-gradient(140deg, #f66b6b 0%, #5b71bf 90%);
  padding: 0% 25%;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .tasksCreator-wrapper {
    padding: 10%;
    min-height: 35vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-container .tasksCreator-container .tasksCreator-wrapper .title {
  color: #F0F0F0;
  font-size: 4.4vw;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .tasksCreator-wrapper .title {
    font-size: 6.2vw;
  }
}

@media (max-width: 480px) {
  .main-container .tasksCreator-container .tasksCreator-wrapper .title {
    font-size: 6.8vw;
  }
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .input {
  background-color: transparent;
  border: solid #F0F0F0;
  border-radius: 8px;
  font-size: 1rem;
  width: 75%;
  padding: 0.5rem;
  margin-right: 1.2rem;
  color: #EBEBEB;
  outline: 0;
  /*le saca el borde interno al input( el borde de seleccion)*/
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .input {
    width: 100%;
    margin-right: 0rem;
  }
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .input::-webkit-input-placeholder {
  color: #EBEBEB;
  opacity: 0.5;
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .input:-ms-input-placeholder {
  color: #EBEBEB;
  opacity: 0.5;
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .input::-ms-input-placeholder {
  color: #EBEBEB;
  opacity: 0.5;
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .input::placeholder {
  color: #EBEBEB;
  opacity: 0.5;
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .btn {
  background-color: transparent;
  border: solid #F0F0F0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: #F0F0F0;
  font-weight: 600;
  outline: 0;
  width: 25%;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .btn {
    padding: 0.5rem 0rem;
    margin-top: 1.8rem;
  }
}

@media (max-width: 480px) {
  .main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .btn {
    width: 100%;
  }
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .btn:hover {
  cursor: pointer;
}

.main-container .tasksCreator-container .tasksCreator-wrapper .tasksCreator .btn:active {
  -webkit-box-shadow: 0px 0px 5px #171717;
          box-shadow: 0px 0px 5px #171717;
}

.main-container .tasksCreator-container .peddingTasks-wrapper {
  padding: 0% 25%;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper {
    padding: 10%;
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper {
    padding: 5%;
    margin-top: 2rem;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .subTitle {
  font-family: "Kavivanar", cursive;
  font-size: 2.3vw;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper .subTitle {
    font-size: 1.2rem;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks {
  width: 100%;
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .withoutTasks {
  padding: 2rem;
  font-family: "Kavivanar", cursive;
  font-size: 1.3rem;
  color: #8B9899;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .withoutTasks {
    font-size: 1.2rem;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList {
  margin-top: 1rem;
  background-color: #EBEBEB;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7rem;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  /* cuando se excribe"ddddddddddddddddddddd", pero mas largo,
                                               al no cortarse la palabra , esta sobrepasa la caja y rompe todo. con el hiden esto no pasa
                                                que alguien escriba eso solo deberia oasar por error o boludeando igual  */
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper {
    width: 100%;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper .taskCheckbox {
  font-weight: 700;
  display: block;
  padding: 0rem 0.5rem;
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper .taskCheckbox:hover {
  cursor: pointer;
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper .taskCheckbox:checked + .taskText {
  text-decoration: line-through;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
  color: green;
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper .taskInputEdit {
  width: 100vw;
  padding: 0.8rem;
  font-size: 0.9rem;
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper .taskText {
  font-family: "Kavivanar", cursive;
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  padding: 0rem 0.5rem;
  line-height: 1.5rem;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .checkYtextWrapper .taskText {
    font-size: 1rem;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 0.2rem;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 1.2rem;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnDelete, .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnEdit {
  border: solid #828282;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  outline: 0;
  margin-top: 0.2rem;
}

@media (max-width: 768px) {
  .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnDelete, .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnEdit {
    margin-left: 0.6rem;
  }
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnDelete:active, .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnEdit:active {
  -webkit-box-shadow: 0px 0px 5px #171717;
          box-shadow: 0px 0px 5px #171717;
}

.main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnDelete:hover, .main-container .tasksCreator-container .peddingTasks-wrapper .peddingTasks .taskList .buttonWrapper .btnEdit:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */